*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}

.Home{
    background-image: url('home.jpg');
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    width: 100%;
}

nav{
    top: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    transition: 0.5s;


    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: navy;
    min-height: 8vh;
}

@font-face {
    font-family: myFirstFont;
    src: url(chalk.otf);
  }

#logo{
    font-family: 'Monoton', cursive;
    color: skyblue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.nav-links li{
       list-style: none;
}
.nav-links a{
    text-decoration: none;
    color: skyblue;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
}

.burger{
    display: none;
}
.burger div{
    
    width: 28px;
    height: 3px;
    margin: 5px;
    background-color: white;
    transition: all 0.3s ease;
}

#hello{
    font-family: myFirstFont;
    margin-top: 0px;
    text-align: center;
    padding-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 60px;
}
#naam{
    color: rgba(255, 0, 0, 0.836);
}


@media screen and (max-width:900px){
    .nav-links{
        width: 50%;
    }
    h2{
        padding-top: 25%;
        font-size: 50px;
    }
    .item img{
        width: 85%;
    }
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.cool-link:hover{
    color: red;
    transition: .9s;
} 



.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s ;
}

.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}



/* About me */


.Aboutme{
    background-color: #e3edf7;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}












/* project */

.projects{
    background-color: #e3edf7;
    height: 80vh;
    margin: 0;
    padding: 0;
    width: 100%;
}
.warper{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    height: 60vh   ;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}
.warper::-webkit-scrollbar{
    width: 0;
}
.item{
    cursor: pointer;
    font-family: 'Domine', serif;
    letter-spacing: 0.2em;
    font-size: medium;
    margin-top: 2vh;
    min-width: 50%;
    margin-left: 10px;
    height: 56vh;
    line-height: 110px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.863);
}
.item:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05) ;
    border: 1px soid rgba(0, 0, 0, 0.01);


    
}


h3{
    line-height: 0;
    font-size: 2em;
}

.txt{
    cursor: none;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1em;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: black;
}

.item img{
    padding-top: 3%;
    height: 70%;
    border-radius: 8px;
}


/* contact */

.contact{
    background-color: #e3edf7;
    height: 50vh;
    margin: 0;
    padding: 0;
    padding-top: 05%;
    width: 100%;
}

/* next and prev buttons */

.round {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
  }
  
    .round:hover {
    background-color: rgba(63, 255, 5, 0.808);
    color: black;
  }
  
  .previous {
      position: absolute;
      left: 5%;
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
      position: absolute;
    right: 5%;
    background-color: #f1f1f1;
    color:black;
  }
  
  .round {
    border-radius: 50%;
  }

  
.bdr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 10em;
}


.BTNS{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.social{
    display: flex;
    align-items: center;
    background:#e3edf7;
    height: 75px;
    width: 75px;
    border-radius: 8px;
    margin: 0 15px;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
        border: 1px soid rgba(0, 0, 0, 0);
                
}
.social i{
    font-size: 35px;
    color: #777;
}

.social:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05) ;
    border: 1px soid rgba(0, 0, 0, 0.01);


    
}
  
  @media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: navy;
        transform: translateX(100%);
        width: 40%;
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    h2{
        padding-top: 30%;
        font-size: 35px;
    }
    .item{
        min-width: 100%;
    }
    .txt{
        font-size: 30px;
    }
    .bdr{
        width: 8em;
    }
    .BTNS{
        padding-top: 15%;
    }
    .social{
        margin: 0 10px;
    }


}

.burger-active{
    transform: translateX(0%);
}

@media screen and (max-width:476px){
    .warper{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@keyframes navlinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
